# Archivos de estado e historial local de Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Variables confidenciales y configuraciones locales
*.tfvars
!terraform.tfvars.example

# IDEs y Sistema Operativo
.DS_Store
.idea/
.vscode/